Repository sevteen/test-monorepo: changes, and which lint-staged commands are due for each by the changed paths.
All: nx affected:lint --fix --files, nx format:write, npx -y sort-package-json, nx affected --target=stylelint

chore(environment): implement cloud environtment with infisical
  .infisical.json
  local.env
  package.json
Due: nx format:write, npx -y sort-package-json

feat(security): add fastify security plugins
  apps/core-api/src/main.ts
  package.json
  pnpm-lock.yaml
Due: nx affected:lint --fix --files, nx format:write, npx -y sort-package-json

feat(filter): add zod validation filter
  apps/core-api/src/common/filters/validation.filter.ts
  apps/core-api/src/common/pipes/validation.pipe.ts
  pnpm-lock.yaml
Due: nx affected:lint --fix --files

fix(requestid): renaming and changing x-request-id to headers of fastify request
  apps/core-api/src/app.module.ts
  apps/core-api/src/common/filters/global-exception.filter.ts
  apps/core-api/src/common/middleware/request-id.middleware.ts
  apps/core-api/src/infrastructure/logger/logger.service.ts
Due: nx affected:lint --fix --files

chore(tsconfig): add paths decorator
  apps/core-api/tsconfig.app.json
  apps/core-api/tsconfig.spec.json
Due: nx format:write

chore(scripts): add pretty format check
  package.json
  scripts/pretty-format-check.sh
Due: nx format:write, npx -y sort-package-json

refactor(app): refactoring core api module
  apps/core-api/src/app.module.ts
  apps/core-api/src/app/README.md
  apps/core-api/src/app/app.controller.spec.ts
  apps/core-api/src/app/app.controller.ts
  apps/core-api/src/app/app.service.spec.ts
  apps/core-api/src/app/app.service.ts
  apps/core-api/src/app/di/AppModule.ts
  apps/core-api/src/app/di/InfrastructureModule.ts
  apps/core-api/src/consume.service.ts
  apps/core-api/src/infrastructure/database/database.module.ts
  apps/core-api/src/infrastructure/database/db.service.ts
  apps/core-api/src/infrastructure/database/system-database.service.ts
  apps/core-api/src/infrastructure/database/tenant-database.service.ts
  apps/core-api/src/infrastructure/infra.module.ts
  apps/core-api/src/infrastructure/logger/logger.module.ts
Due: nx affected:lint --fix --files, nx format:write

feat(api@assert): add type assertation
  apps/core-api/src/common/type/CommonTypes.ts
  apps/core-api/src/common/utilities/assert/CoreAssert.ts
Due: nx affected:lint --fix --files

build(env): add dot env
  apps/core-api/src/main.ts
Due: nx affected:lint --fix --files

feat(api@config): separating environment config
  apps/core-api/src/infrastructure/config/ApiServerConfig.ts
  apps/core-api/src/infrastructure/config/DatabaseConfig.ts
  apps/core-api/src/infrastructure/config/FileStorageConfig.ts
  apps/core-api/src/infrastructure/config/LogConfig.ts
  apps/core-api/src/infrastructure/config/MailConfig.ts
  apps/core-api/src/infrastructure/config/index.ts
Due: nx affected:lint --fix --files

build(core-api): change compiler to swc and add aliasses path
  apps/core-api/.eslintrc.json
  apps/core-api/.swcrc
  apps/core-api/project.json
  apps/core-api/tsconfig.app.json
  apps/core-api/tsconfig.spec.json
  nx.json
Due: nx format:write

style(eslint): ignoring eslint for dist file
  .eslintignore
  package.json
Due: nx format:write, npx -y sort-package-json

refactor(responses): add custom respons status code
  apps/core-api/src/common/status/Status.ts
Due: nx affected:lint --fix --files

refactor(exceptions): add core exceptions
  apps/core-api/src/common/exceptions/CoreException.ts
  apps/core-api/src/common/exceptions/exceptions.module.ts
  apps/core-api/src/common/exceptions/exceptions.service.spec.ts
  apps/core-api/src/common/exceptions/exceptions.service.ts
Due: nx affected:lint --fix --files

refactor(filters): add nest http exception filter
  apps/core-api/src/common/api/ApiResponse.ts
  apps/core-api/src/common/filters/NestHttpExceptionFilter.spec.ts
  apps/core-api/src/common/filters/NestHttpExceptionFilter.ts
  apps/core-api/src/common/filters/global-exception.filter.spec.ts
  apps/core-api/src/common/filters/global-exception.filter.ts
  apps/core-api/src/common/filters/validation.filter.ts
Due: nx affected:lint --fix --files

refactor(validation): refactor validation pipe
  apps/core-api/src/common/pipes/ZodValidationPipe.ts
  apps/core-api/src/common/pipes/validation.pipe.ts
Due: nx affected:lint --fix --files

refactor(packages): add package utils and types
  .eslintrc.json
  nx.json
  package.json
  packages/types/.eslintrc.json
  packages/types/README.md
  packages/types/jest.config.ts
  packages/types/package.json
  packages/types/project.json
  packages/types/src/index.ts
  packages/types/tsconfig.json
  packages/types/tsconfig.lib.json
  packages/types/tsconfig.spec.json
  packages/utils/.eslintrc.json
  packages/utils/README.md
  packages/utils/jest.config.ts
  packages/utils/package.json
  packages/utils/project.json
  packages/utils/src/index.ts
  packages/utils/tsconfig.json
  packages/utils/tsconfig.lib.json
  packages/utils/tsconfig.spec.json
  pnpm-lock.yaml
  tsconfig.base.json
Due: nx affected:lint --fix --files, nx format:write, npx -y sort-package-json

Path conditions:
  nx affected:lint --fix --files: any of: *.{ts,js,tsx,jsx}
  nx format:write: any of: *.{json,*rc,md}
  npx -y sort-package-json: any of: package.json
  nx affected --target=stylelint: any of: *.{scss,css}
